.presentation-tree * {
    font-size: 20px;
}

/* file/folder renaming area and name wrapper */
.presentation-tree .ace_wrapper *, .presentation-tree .caption {
    line-height: 25px !important;
    height: 25px !important;
}
/* vetically center file/folder icon and name in tree row */
.presentation-tree .tree-row span {
    position: relative;
    top: 50%;
    margin-top: -24px !important;
}

/* prevent text from bouncing up and down upon renaming file/folder */
.presentation-tree .ace_editor.ace-tm.ace_one-line.ace_tree-editor.ace_focus, 
.presentation-tree .ace_layer.ace_cursor-layer, 
.presentation-tree .ace_layer.ace_marker-layer {
    margin-top: 0px !important;
}
.presentation-tree .ace_editor.ace-tm.ace_one-line.ace_tree-editor.ace_focus {
    border-width: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}